.dark-theme {
  background-color: var(--black);
  color: var(--white);
  transition: 0.3s;
}

.dark-theme #theme-button:before {
  content: "🌕";
}

.dark-theme .btn {
  border: 0.1rem solid var(--white);
}

.dark-theme a {
  color: var(--white);
}

.dark-theme a:hover {
  text-decoration: 0.1rem underline var(--white);
}

.dark-theme header {
  background-color: var(--black);
  color: var(--white);
  box-shadow: 0 -0.5rem 1rem rgba(257, 255, 255, 0.5);
}

.dark-theme .btn:active {
  background-color: var(--white);
  color: var(--black);
}

.dark-theme .card {
  border-color: var(--white);
}

.dark-theme img {
  box-shadow: 0 0 0.5rem rgba(257, 255, 255, 0.5);
}

.dark-theme .card:hover {
  background-color: var(--white);
  color: var(--black);
  text-decoration: underline var(--black);
  border-color: var(--white);
}

.dark-theme #album-bg {
  background: url(../assets/beat-light.png);
  opacity: 0.9;
}

.dark-theme hr {
  background: rgba(257, 255, 255, 0.1);
}

.dark-theme .card:hover hr {
  background: rgba(37, 35, 35, 0.1);
}

.dark-theme .card:hover span {
  color: rgba(37, 35, 35, 0.5);
}

.dark-theme #cookies {
  box-shadow: 0 0 0.2rem var(--white) inset;
}

.dark-theme #go-up {
  color: var(--black);
  background-color: var(--white);
}

.dark-theme footer {
  border-top: 0.1rem solid var(--white);
}
