.light-theme span {
  color: rgba(37, 35, 35, 0.4);
}

.dark-theme span {
  color: rgba(257, 255, 255, 0.4);
}

section:not(#intro),
article {
  padding: 0 6rem;
}

#album {
  display: grid;
  grid-template-columns: 40vw 1fr;
  justify-content: space-between;
  gap: 2rem;
}

#intro {
  padding: 2rem 6rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  color: rgb(257, 255, 255);
  background-image: url(../assets/cover-dark.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 6rem;
}

#descr {
  display: inherit;
  flex-direction: column;
  width: 60vw;
  gap: 2rem;
  user-select: none;
}

#descr p {
  text-shadow: 0 0 10px black;
}

#descr a.btn {
  color: rgb(257, 255, 255);
  border-color: rgb(257, 255, 255);
}

#descr h1 {
  text-transform: uppercase;
  font-size: 4rem;
}

#descr p {
  line-height: 2rem;
}

#descr a {
  width: min-content;
  text-transform: uppercase;
}

#descr a:hover {
  text-decoration: none;
}

#descr div {
  margin-top: 1rem;
}

#music {
  line-height: 2rem;
}

#music p:last-of-type {
  padding-bottom: 1rem;
}

#music span {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#listen {
  padding: 2rem 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  padding-top: 0.5rem;
}

.card {
  border: 0.1rem solid;
  border-radius: 1rem;
  padding: 1rem;

  transition: 0.3s;
}

.card:hover {
  text-decoration: none !important;
}

.card:hover h3::after {
  content: " 🔗";
}

.card div {
  border-radius: inherit;
  padding-bottom: 1rem;
}

.card div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: inherit;
}

#album {
  /* layout almost same as #intro */
  align-items: start;
}

#album h2 {
  text-transform: uppercase;
  padding: 0.5rem 0;
}

#album li {
  text-transform: capitalize;
  padding-bottom: 0.5rem;
}

#album small {
  opacity: 0.2;
  font-weight: bold;
}

#album-bg {
  display: flex;
  align-self: stretch;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
}

#buy h2 {
  padding-bottom: 2rem;
}

#buy .card {
  line-height: 1.5rem;
}

#buy .card p,
#buy .card span {
  text-transform: uppercase;
}

#buy .card span {
  font-size: 0.7rem;
  font-weight: bold;
}

#buy .card p:last-child {
  padding-top: 0.5rem;
}
