@media (max-width: 900px) {
  #intro h1 {
    font-size: 3rem;
  }

  footer section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  footer nav {
    grid-row-start: 2;
  }
}

@media (max-width: 800px) {
  #intro {
    grid-template-columns: 1fr;
    height: 90vh;
    color: rgb(257, 255, 255);
    background-image: url(../assets/cover-dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 6rem;
  }

  #preview {
    display: none;
  }

  #descr p {
    text-shadow: 0 0 10px black;
  }

  #descr a.btn {
    color: rgb(257, 255, 255);
    border-color: rgb(257, 255, 255);
  }

  #album {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  footer {
    padding: 0 2rem;
  }
}

@media (max-width: 620px) {
  ::-webkit-scrollbar {
    width: auto;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-track:hover {
    background-color: transparent;
  }

  .dark-theme ::-webkit-scrollbar-thumb {
    background-color: rgba(257, 255, 255, 0.5);
  }

  .dark-theme ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(257, 255, 255, 0.8);
  }

  .light-theme ::-webkit-scrollbar-thumb {
    background-color: rgba(37, 35, 35, 0.5);
  }

  .light-theme ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(37, 35, 35, 0.8);
  }

  header {
    flex-direction: column;
  }

  #menu {
    flex-direction: column-reverse;
  }

  nav {
    flex-direction: column;
  }

  #descr p {
    line-height: 2rem;
  }

  .cards {
    overflow-x: scroll;
    padding-bottom: 2rem;
  }

  .card {
    min-width: 30vw;
  }

  footer section {
    display: flex;
    flex-direction: column;
  }

  footer nav {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 500px) {
  #intro {
    padding: 2rem;
  }

  main section:not(#intro),
  main article {
    padding: 4rem 2rem;
  }

  #descr p {
    line-height: 1.5rem;
  }

  .card {
    min-width: 40vw;
  }
}

@media (max-width: 300px) {
  #cookies div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #album {
    grid-template-rows: repeat(2, auto);
  }

  #album-bg {
    height: 10vh;
  }

  footer nav {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 250px) {
  body p,
  nav a,
  dialog p,
  label,
  .btn {
    font-size: 0.85rem !important;
    line-height: 1.5rem !important;
  }

  .btn {
    padding: 0.5rem 1rem;
    border-radius: 0.8em;
  }

  body h3 {
    font-size: 0.9rem !important;
  }

  body h2 {
    font-size: 0.95rem !important;
  }

  body h1 {
    font-size: 1rem !important;
  }

  section:not(#intro),
  article {
    padding: 2rem 0;
  }

  #menu-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  #menu,
  nav,
  footer nav {
    gap: 0.5rem;
  }
}
