article {
  padding: 2rem 6rem;
}

article h2 {
  margin: 0;
  padding-bottom: 1rem;
}

article li {
  padding: 0.5rem;
}

article span {
  font-weight: bold;
}

#menu nav a:first-child {
  width: max-content;
}